.radio-answer{
    display: inline-block;
}
body{
    font-family: sans-serif;
    font-size: medium;
    color: white;
    background-color: #06113183;
    display: flex;
    align-items:center;
    justify-content:center;
    height: 100vh;
}
ul{
    list-style-type: none;
}
.single-answer-container{
    margin-bottom:3px ;
    display: block;
}

.quiz-container{

    padding: 10px 10px;
    margin-top: -100px;
    width: 500px;
    background-color: #0611317a;
    border-radius: 10px;
    
}

.question-container{
    padding: 30px 30px 20px 30px;

}
.question{
    font-family: sans-serif;
    font-size: 24px;
    color:white;
    font-weight:100;
    line-height: 1px;
    margin: 0px;
}
.radio-answers{
    margin-left: -10px;
}
.single-answer-container{
    padding-bottom: 5px;
}
.radio-answer > input{
    cursor: pointer;
    /* margin-bottom: -2px; */

}
.radio-answer-text{
    cursor:pointer;
    font-family: sans-serif;
    font-size: 16px;
    font-weight:lighter;
    color:white;
    /* margin-top: px; */
    /* line-height: 18px; */
}
.submit-button{
    padding: 10px 20px;
    background-color: white;
    border-radius: 6px 6px 6px 6px;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
#btn{
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0);
    font-size: 18px;
    font-weight: 200;
    color: #030713b2;
}
.d-none{
    font-family: sans-serif;
    color:#a6dae1;
    margin: 0;
    font-weight: 100;
    padding-bottom: 20px;
}
